section {
    background-color:cyan;
}
header {
    background-color: coral;
}
.content-content-box{
    background-color: green;
    width: 300px;
    margin: 30px;
    border: 10px solid violet;
}
footer {
    background-color: blueviolet;
}
body {
    background-color: black;
}
.introCss {
    background-color:white;
}
#myp {
    font-size: 24px;
}
.myp {
    font-size: 30px;
}
.color-rojo{
    color: red;

}
.back-azul{
    background-color: blue;
}
.contenedor {
    background-color: violet;
    margin: 50px;
    padding: 10px;
    border: 5px solid red;
}

.contenido{
    background-color: aquamarine;
}
.contenedor-con-imagen{
    width: 400px;
    height: 300px;
    padding: 20px;
    background-color: cadetblue;
    background-image: url("/public/Mario-bros.png");
    background-size: cover;
    background-position: center;
    
}

.contenido-con-imagen{
    background-color: white;

}

span{
    font-weight: bold;
}
p,span{
    color: darkviolet;
}

main p {
    background-color: aquamarine;
}
main >section > article> div > p {
    font-size: 15px;
}
h1 + p {
    color:red;
}
.container > .content > p {
    background-color: white;
    color: black;
    font-size: 30px;
    font-weight: 100;
    font-style: oblique;
}

.content > h3 {
    background-color: bisque;
    font: bold 30px Arial, sans-serif;
    text-align: center;
}
.midiv {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(143, 143, 163);
}
.div-in-mydiv{
    background-color: rgba(255,255, 255, 0.6);
    height: 50px;
    width: 50px;
    border: 1px solid black;
    
}
.tamano{
    height: 400px;
    width: 400px;
    background-color: black;
}
.tamano-hijo{
    height: 25vh;
    width: 25vh;
    background-color:red;
    
}
.punto{
    height: 10pt;
    width: 10pts;
    background-color: blueviolet;
}

.div-rem{
    height: 15rem;
    width: 20rem;
}
.div-em{
    height: 15em;
    width: 20em;
    overflow: scroll;
}
.contenedor-bordes > div {
    height: 100px;
    width: 100px;
    border-color: green;
    border-radius: 50%;
    margin-top: 20px;
}

.borde-1{
    border-style: dashed;
}

.borde-2 {
    border-style: groove;
}

.borde-en-una-linea {
    border: 1px solid red;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    font-size: 20px;
    border: 1px solid black;
    padding: 10px;
    align-items: start;
    flex-flow: row wrap;
}
/* 
 1 - flex-direction : define en que dirección se distribuiran los elementos dentro del contenedor
 - column
 - column-reverse
 - row
 - row-reverse

 2- flex-wrap: define si que los elementos dentro del contenedor puedan saltar a la siguiente fila o columna
 - wrap
 - nowrap

 3- fex-flow : Es una combinacion de las propiedades flex-directio y flex-wrap

 4- justify-conetnt : para alinear el contenido
 - star
 - center
 - end
 - flex-start
 - flex-center
 - flex-end

 5- align-items : se usa para alinear en vertical los elementos dentro del contenedor
 - center
 - start
 - end
 - stretch
 - baseline
 

  */

.flex-container>div {
    margin: 10px;
    background-color: chocolate;
    padding: 20px;
    text-align: center;
    line-height: 70px;

}
.contenedor-perfecto{
    display: flex;
    background-color: aqua;
    height: 40vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
    
}
.contenido-perfecto{
    display: flex;
    background-color: green;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.flex-container-2>div:nth-child(1){
    order: 2;
    flex-grow:1;
}
.flex-container-2>div:nth-child(2){
    order: 1;
    flex-grow:4;
}
.flex-container-2>div:nth-child(3){
    order: 3;
    flex-grow:8;
}
.flex-container-3{
    display: flex;
    align-items: stretch;
    background-color: rgb(155, 130, 113);

}

.flex-container-3> div {
    background-color: blue;
    color: aliceblue;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.flex-container-3> div:nth-child(2){
    flex-shrink: 0;

}
.flex-container-3> div:nth-child(3){
    flex-basis: 400px;

}
